.login-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.login-form-btns {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.login-form-btns .form-group {
  flex: 1;
}

.login-form-btns button {
  width: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-width {
  grid-column: 1 / -1;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  background-color: #1977dc;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.01);
  transition: all 0.3s ease-in-out;
}

button::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #0056b3;
  transition: width 0.3s ease-in-out;
}
